.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .name-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .input {
      background: aliceblue;
      color: midnightblue;
      padding: 5px;
      border-radius: 5px;
    }
  }

  .button {
    background: springgreen;
    color: midnightblue;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
}
