.card {
  background: aqua;
  border-radius: 5px;
  position: relative;
  width: 200px;
  min-height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .image-container {
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
  }

  .name {
    color: midnightblue;
    flex-grow: 1;
    display: grid;
    place-items: center;
    text-align: center;
  }

  .count-area {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .number {
      color: midnightblue;
    }
  }
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .label {
    color: midnightblue;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .input {
      background: aliceblue;
      color: midnightblue;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.buttons {
  display: flex;
  gap: 30px;

  .button {
    padding: 5px;
    min-width: 65px;
    border: none;
    border-radius: 5px;

    &.red {
      background: lightcoral;
      color: aqua;
    }

    &.green {
      background: springgreen;
      color: midnightblue;
    }
  }
}
